.login-page {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-page .title {
  font-family: "bungee",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 7em;
}